.test-slider {
  appearance: none;
  height: 4px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    #a80000 0%,
    #a80000 var(--progress, 0%),
    #ddd var(--progress, 0%),
    #ddd 100%
  );
}

/* Thumb (Webkit - Chrome, Edge) */
.test-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background:  #a80000;
  cursor: default; /* 커서 변경 없음 */
  margin-top: 0px;
  border: none;
}

/* Track (Firefox) */
.test-slider::-moz-range-track {
  height: 4px;
  background: #ddd;
  border-radius: 4px;
}
.test-slider::-moz-range-progress {
  height: 4px;
  background:  #a80000;
  border-radius: 4px;
}
.test-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background:  #a80000;
  border: none;
  cursor: default; /* 커서 변경 없음 */
}
